projects/agreement/schemas/marginsphere-3.1/InterestStatement/InterestStatement.xsd

<?xml version="1.0" standalone="yes"?>
<xs:schema version="1.0" targetNamespace="detail.intereststatement.api.acadiasoft.com" xmlns:tns="detail.intereststatement.api.acadiasoft.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="interestStatements" type="tns:AcadiaSoft.Interest.Statement.List"/>

  <xs:complexType name="AcadiaSoft.Interest.Statement.List">
    <xs:sequence>
      <xs:element name="skip" type="xs:int" form="qualified" minOccurs="0"/>
      <xs:element name="max" type="xs:int" form="qualified" minOccurs="0"/>
      <xs:element name="totalCount" type="xs:int" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatement" type="tns:AcadiaSoft.Interest.Statement" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AcadiaSoft.Interest.Statement">
    <xs:all>
      <xs:element name="ampId" type="xs:string" form="qualified"/>
      <xs:element name="interestStatementBenchmark" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="businessState" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="counterpartyAAmpId" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="counterpartyAExternalReference" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="counterpartyAmpId" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="counterpartyBAmpId" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="counterpartyBExternalReference" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="counterpartyDtccAccount" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="counterpartyLabel" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="createCounterparty" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="createCounterpartyLabel" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="createDate" type="xs:dateTime" form="qualified" minOccurs="0"/>
      <xs:element name="createUserAmpId" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="direction" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="expireDate" type="xs:dateTime" form="qualified" minOccurs="0"/>
      <xs:element name="expireUserAmpId" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="externalUsername" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementCalculationType" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementCancelComments" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementCancelReasonCodes" form="qualified" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="interestStatementCancelReasonCode" type="xs:int" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="interestStatementCurrency" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementDayConvention" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementDisbursementType" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementDisputeComments" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementDisputeReasonCodes" form="qualified" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="interestStatementDisputeReasonCode" type="xs:int" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="interestStatementDisputedBy" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementFinalAmpId" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementItems" form="qualified" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="interestStatementItem" type="tns:AcadiaSoft.Interest.Statement.Item" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="interestStatementMismatchedFields" form="qualified" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="interestStatementMismatchedField" type="xs:string" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="interestStatementNoAction" type="xs:boolean" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementPairAmpId" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementPartyReceivingPayment" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementPartyReceivingPaymentLabel" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementPaymentAmount" type="xs:decimal" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementPeriodEnd" type="tns:AcadiaSoft.Interest.Statement.Date.Only" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementPeriodStart" type="tns:AcadiaSoft.Interest.Statement.Date.Only" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementRolloverAmount" type="xs:decimal" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementSsi" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementValueDate" type="tns:AcadiaSoft.Interest.Statement.Date.Only" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementValueDateModifier" type="xs:int" form="qualified" minOccurs="0"/>
      <xs:element name="version" type="xs:int" form="qualified" minOccurs="0"/>
      <xs:element name="localCounterpartyAmpId" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="localCounterpartyDtccAccount" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="localCounterpartyLabel" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="externalReference" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="marginAgreementAmpId" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="marginAgreementShortName" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="modifyDate" type="xs:dateTime" form="qualified" minOccurs="0"/>
      <xs:element name="modifyUserAmpId" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="state" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="temporaryExternalReference" type="xs:string" form="qualified" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="AcadiaSoft.Interest.Statement.Item">
    <xs:all>
      <xs:element name="ampId" type="xs:string" form="qualified"/>
      <xs:element name="counterpartyAExternalReference" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="counterpartyBExternalReference" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="createDate" type="xs:dateTime" form="qualified" minOccurs="0"/>
      <xs:element name="createUserAmpId" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="expireDate" type="xs:dateTime" form="qualified" minOccurs="0"/>
      <xs:element name="expireUserAmpId" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="externalUsername" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementAmpId" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementItemAccrued" type="xs:decimal" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementItemCollateralBalance" type="xs:decimal" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementItemDailyInterestDate" type="tns:AcadiaSoft.Interest.Statement.Item.Date.Only" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementItemFxRate" type="xs:decimal" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementItemInterestRate" type="xs:decimal" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementItemMovement" type="xs:decimal" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementItemPaymentAmount" type="xs:decimal" form="qualified" minOccurs="0"/>
      <xs:element name="interestStatementItemSpread" type="xs:decimal" form="qualified" minOccurs="0"/>
      <xs:element name="version" type="xs:int" form="qualified" minOccurs="0"/>
      <xs:element name="externalReference" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="modifyDate" type="xs:dateTime" form="qualified" minOccurs="0"/>
      <xs:element name="modifyUserAmpId" type="xs:string" form="qualified" minOccurs="0"/>
      <xs:element name="temporaryExternalReference" type="xs:string" form="qualified" minOccurs="0"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="AcadiaSoft.Interest.Statement.Item.Date.Only">
    <xs:all>
      <xs:element name="day" type="xs:int" form="qualified"/>
      <xs:element name="month" type="xs:int" form="qualified"/>
      <xs:element name="year" type="xs:int" form="qualified"/>
    </xs:all>
  </xs:complexType>

  <xs:complexType name="AcadiaSoft.Interest.Statement.Date.Only">
    <xs:all>
      <xs:element name="day" type="xs:int" form="qualified"/>
      <xs:element name="month" type="xs:int" form="qualified"/>
      <xs:element name="year" type="xs:int" form="qualified"/>
    </xs:all>
  </xs:complexType>
</xs:schema>


